<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Stadium Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <!-- Navbar content -->
        <div class="container-fluid">
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control searchString" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div id="main container">
        <div class="search container">
            <div class="container">
                <div class="col-md-12 row">
                    <div id="map" class="map"></div>
                </div>
                <div class="col-md-12 row">
                    <table class="table stadium-list">
                        <thead class="">
                            <tr>
                                <th>Capcity</th>
                                <th>City</th>
                                <th>Team</th>
                                <th>Temp (C)</th>
                                <th>Wind (m/s)</th>
                            </tr>
                            <div class="loading hidden">
                                <div class="spinner">
                                </div>
                                <p class="row">Loading Stadiums</p>
                            </div>
                        </thead>
                    </table>
                    <div class="loading hidden">
                        <div class="spinner">
                        </div>
                        <p class="row">Loading Stadiums</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/bundle.js') }}"></script>
</body>

</html>
