<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Soccer Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/weather-icons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/weather-icons-wind.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
</head>

<body>
    <div class="container text-center header">
        <img src="/static/images/logo.png">
    </div>
    <div class="title">
        <span class="summary">
                Live weather at football stadiums
            </span>
    </div>
    <div id="main">
        <div class="info row">
            <a href="https://darksky.net/poweredby/">
                <img src="{{ url_for('static', filename='images/poweredby.png') }}">
            </a>
        </div>
        <div class="mapContainer">
            <div class="loadingIcon col-md-12">
                <img src="{{ url_for('static', filename='images/loadingicon.gif') }}">
                <span class="row col-md-12">
                     <p>Loading...</p></span>
            </div>
            <div class="mask">
            </div>
            <div id="map" class="map">
            </div>
            <ul class="list-group matches stadium-list">
            </ul>
        </div>
    </div>
    <div class="searchBar text-center hidden">
        <form class="nav navbar-form navbar-center">
            <div class="input-group">
                <input type="text" class="form-control searchString" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search" width="30" height="30"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- scripts -->
    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <script src="{{ url_for('static', filename='assets/js/bundle.min.js') }}"></script>
</body>

</html>
